<!DOCTYPE html>
 <html lang="en">
  <head>
    <title>BMI Calculator</title>
        <script type="text/javascript">
            function computeBMI() {
                // user inputs
                var height = Number(document.getElementById("height").value);
                var weight = Number(document.getElementById("weight").value);

                //Perform calculation
                var heightPower = Math.pow(height, 2)
                var BMI = weight/heightPower

                //Display result of calculation
                if(isNaN(BMI)){
	                document.getElementById("output").innerText = "Please input numbers for height and weight";
                }else{
	                document.getElementById("output").innerText = Math.round(BMI,2);
                }

                var output = BMI
                if (output < 18.5)
                    document.getElementById("comment").innerText = "Underweight";
                else if (output >= 18.5 && output <= 25)
                    document.getElementById("comment").innerText = "Normal";
                else if (output >= 25 && output <= 30)
                    document.getElementById("comment").innerText = "Obese";
                else if (output > 30)
                    document.getElementById("comment").innerText = "Overweight";
                else if(isNaN(output))
                     document.getElementById("comment").innerText = " ";
            }
        </script>
  </head>
  <nav>
  <ul>
    <li><a href="{{url_for('welcome')}}">Main Page</a></li>
    <li><a href="{{url_for('login')}}">Login</a></li>
  </ul>
</nav>
  <body>

  <main>

   <h5>Body Mass Index Calculator</h5>
      <form method="post">
      <p>Enter your height in metres: <input type="text" name="height" id="height" placeholder=1.70> </p>
        <p>Enter your weight in kgs: <input type="text" name="weight"  id="weight" placeholder=70>  </p>
       <p>Enter your average daily calorie intake : <input type="text" name="calories"  id="calories" placeholder=80>  </p>
        <input type="submit" value="computeBMI" onclick="computeBMI();">
        Your BMI is: <span id="output" >?</span>
      </form>
        This means you are: <span id="comment"> ?</span>
      <aside>
       What does BMI mean?

      </aside>

   </main>

  </body>

</html>
