<html lang="en">
<head>
</head>
Book - {{event.eventName}}
<div class="container" centered>
         <form action="{{ url_for('book', eventID=event.eventID) }}" method="POST">

        <div class="form-group">
            <p><span style="font-size:14px">Event Type:</span> {{ event.type }}</p>
            <h3>{{event.eventName}}</h3><br>
            <p>{{event.description}}</p><br>
            <p>Event Starts: {{ event.startDate }} at {{ event.startTime }}</p>
            <p>Event Ends: {{ event.endDate }} at {{ event.endTime }}</p>
            <br>
            <p>Name on the ticket: <span><strong>{{user.firstname}} {{user.lastname}}</strong></span></p>
            <p>Email address: <span><strong>{{user.email}}</strong></span></p>
        </div>
        <input type="date"  id="bookdate" required="Required" class="form-control" name="bookdate" placeholder="Select suitable date" />
        <div class="form-box">
            Number of tickets:
            <select name="tickets">
                {% for i in range(event.ticketsLeft) %}
                <option value="{{i+1}}">{{i + 1}}</option>
                {% endfor %}
            </select>
        </div><br>
        <div class="form-box">
            <button type="submit" id="post">Book</button>
        </div>
    </form>
</div>
</html>