<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

General Data Protection Regulation (GDPR)
As an awarding organisation, Pearson is responsible for its qualifications development, awarding, and
post-awarding processes. We have a legal obligation (such as conferred on us by statute - the Apprenticeships,
Skills, Children and Learning Act 2009) to develop and award qualifications. As such, we are required as a data controller
to perform a variety of activities to fulfil that obligation and we are responsible for our own compliance, as we are not
acting on the instructions of our learning centres who may avail themselves of our services.

</body>
</html>