<!DOCTYPE html>
<html>
<head>

   <h2> Health Advice Events</h2>

 <script>
</script>


</head>
<nav>

</nav>
<body>

        </div>
           <button><a href="{{url_for('bookdate')}}">Book Tickets</a></button> <br> <br>
        </div>

   <main>
{% for events in events %}
       Event Type: {{ events.type }} <br>
      {{ events.eventName }}        <br>
       Event Starts: {{ events.startDate }} at {{ events.startTime }} <br>
       <br>
       Adult Fee:£{{ events.adultPrice }}
       Adult Fee:£{{ events.adultPrice }}

       Tickets Left: {{ events.ticketsLeft }} <br>

  {% endfor %}

       <button><a href="{{url_for('login')}}">Login</a></button> <br> <br>

        <button><a href="{{url_for('register')}}">Create an account </a></button> <br> <br>

   </main>

   <nav>

   </nav>

<div id="cookiePopup">
  <h4>Cookie Consent</h4>
  <p>Our website uses cookies to provide your browsing experience and relavent informations.Before continuing to use our website, you agree & accept of our <a href="/cookies">Cookie Policy & Privacy</a></p>
 <button id="acceptCookie">Accept</button>
</div>
</body>
<footer>
Heath Advice Group UK
</footer>
</html>