<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Privacy Policy
Last Updated:
November 18, 2021

DreamHost's Vision Statement: People have the freedom to choose how their digital content is shared.

This Privacy Policy explains what we do to minimize the data we process and to protect that which we do collect. We recommend that you read this Policy in full. However, because the way in which we process data will depend on the service you use (and because we recognize that your time is limited and precious) you may decide to use the links below to navigate directly to the sections of the Notice which are relevant to you.

Who we are, our Services and our Website
Hosting and Cloud Services
What information do we collect when you use or visit our website?
Domain Registration Services
How do we use the information we collect about you?
Our legal basis for processing personal information
With whom do we share your information?
Your data protection rights
Your Choices
Security: how we keep your information secure?
Processing in the United States
Data retention and deletion
Third-party websites
Changes to your Privacy Policy
Questions and complaints
If you have questions about our practices or any of your rights described below, you may contact us at privacypolicy@dreamhost.com. This inbox is actively monitored and managed so that we can deliver an experience you can trust.

1. Who we are, our Services and our Website
1.1 DreamHost offers a variety of services to customers ("you") which range from hosting and website services (including shared, VPS, and dedicated hosting, WordPress hosting, Remixer, email hosting (the "Hosting Services")), cloud services (DreamObjects and DreamCompute) (the "Cloud Services") and domain registration services (the "Domain Registration Services") among others.

1.2 The services offered by DreamHost are collectively referred to as the Services in this Notice.

1.3 We also have a website (the "Website") where website visitors, prospective customers and potential job applicants can find out more about us and our Services.
</body>
</html>