<!DOCTYPE html>

<html>

<head>

    <title>Weather Info</title>

</head>

<body>

      </div>
            <button><a href="{{url_for('bookdate')}}">Book Tickets</a></button> <br> <br>
        </div>

{% for events in events %}
       Event Type: {{ events.type }} <br>
      {{ events.eventName }}        <br>
       Event Starts: {{ events.startDate }} at {{ events.startTime }} <br>
       <br>
       Adult Fee:£{{ events.adultPrice }}
       Adult Fee:£{{ events.adultPrice }}

       Tickets Left: {{ events.ticketsLeft }} <br>

  {% endfor %}

    <button><a href="{{url_for('forecast')}}"> Get Weather Forecast</a></button> <br> <br>

    <button><a href="{{url_for('bmi')}}"> View your Body Mass Index</a></button> <br> <br>

    <button><a href="{{url_for('update')}}">Update your account</a></button> <br> <br>

    <button><a href="{{url_for('profile')}}"> View your Profile</a></button> <br> <br>

    <button><a href="{{url_for('rating')}}">Rate the website</a></button> <br> <br>

    <a href="/">Back to Home</a>

</body>

</html>